<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default1" connectionString="data source=.;initial catalog=nrepo1;integrated security=sspi;"/>
    <add name="Default2" connectionString="data source=.;initial catalog=nrepo2;integrated security=sspi;"/>
  </connectionStrings>
</configuration>